body {
  background-color: #121212;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  background-color: #1e1e2f;
  padding: 40px 20px;
  border-radius: 15px;
  color: #f0f0f5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  max-width: 900px;
  margin: auto;
  min-height: 60vh;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

button.w-100 {
  height: 50px;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}


.btn-primary {
  background-color: #4a90e2;
  border: none;
}

.btn-primary:hover {
  background-color: #357abd;
}

.btn-success {
  background-color: #28a745;
  border: none;
}

.btn-success:hover {
  background-color: #218838;
}