html {
    background-color: rgb(4, 0, 14);
}

.formContainer {
    margin-top: 8vh;
    background-color: rgb(4, 0, 14);
    color: rgb(189, 189, 189);
}

.formContainer input {
    background-color: rgb(4, 0, 14);
    border: none;
    border-bottom: 2px solid rgb(57, 57, 57);
    border-radius: 0;
}

.formContainer input:focus {
    border: none;
    background-color: rgb(4, 0, 14);
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
    box-shadow: none;
}

.formContainer input:focus::after {
    border: none;
    background-color: rgb(4, 0, 14);
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
    box-shadow: none;
    width: 0;
}

.formContainer input::placeholder {
    color: gray;
}

.botao:hover {
    color: green;
}

.goLogin:hover {
    position: relative;
    cursor: pointer;
    color: light-blue;
    align-self: center;
}

.botaoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.botaoContainer button {
    width: 150px;
    /* largura fixa igual para os dois */
}